body {
    margin:0;
}
h1 {
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin:0;
    padding:20px;
}
a {
    text-decoration: none;
    color: black;
}
#active {
    color : red;
}
#grid ul {
    border-right: 1px solid gray;
    width:50px;
    margin:0;
    padding:30px;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}
ul {
    padding-left: 40px;
}
#grid ol {
    margin:0px;
    padding:0px;
    padding-left: 10px;
}
h2 {
    margin:0px;
    padding:10px;
}

@media(max-width : 600px) {
#grid {
    display: block;
}
#grid ul {
    border-right : none;
}
h1 {
    border-bottom : none;
}
}